.hero{
    background: linear-gradient(45deg, red, black);
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 2px;
    position: relative;
    height: 40vh;
}

.hero-soft{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 2em;
    border: solid 3px black;
    background-color: aqua;
    padding: 0.4em;
    margin-bottom: 10px;
}

.hero-nav{
    display: flex;
    gap: 1.2em;
    justify-content: flex-end;
}

.hero-nav a, .hero-nav a:visited{
    text-decoration: none;
    color: white;
}

@media screen and (max-width:600px) {
    .hero-nav{
        flex-direction: column;

    }
    .two-flex{
        flex-direction: column;
    }
}

.card{
    background-color: gray;
    width: 300px;
    margin: 10px auto;
    padding: 30px;
    box-shadow: 5px 10px 15px rgba(12, 0, 0, 0.5);
    animation: card 2s alternate-reverse infinite;
}

.card p, .card h3{
    text-shadow: 10px 10px 15x rgba(61, 14, 14, 0.6);
}

.btn {
  padding: 12px 24px;
  font-size: 1rem;
}

@keyframes card {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-15px);
    }
}

.two{
    height: 50vh;
}

.two-flex{
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.lorem{
    width: 500px;
    height: 30vh;
    border: 2px ridge cyan;
    padding: 40px 5px 10px 5px;
}