.btn{
    padding: 15px 30px;
    background-color: blue;
    cursor: pointer;
}
#clock { font-size: 48px; font-weight: bold; color: #007BFF; }



.container {
    width: 400px;
    margin: auto;
    padding: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

#taskList li {
    padding: 10px;
    margin-top: 10px;
    background: burlywood;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark.open{
    background-color: #222;
    color: #fff;
}

.text-div{
    position: relative;
    margin-top: 2em;
    width: 600px;
}

.text-area{
    position: relative;
}



.start{
    position: absolute;
    bottom: 0;
    left: 5px;

}

.check{
    margin-top: 2em;
    display: flex;
}

.color{
    width: 150px;
    height: 150px;
    border: black solid 3px;
    margin-top: 1em;
}

.to-do li{
    list-style: none;

}

.header{
    background-color: green;
    padding: 20px 0;
}
.header-list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5em;
    position: relative;
}

.header-list li{
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
    padding: 10px;
}
.service{
    position: relative;
}
.service-list{
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: green;
    padding: 10px 20px;
    z-index: 200;
}

.service-list.open{
    display: block;
}

.service:hover .service-list {
    display: block;
}
