.to-do{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks{
    width: 300px;
    height: 150px;
    border: black 1px solid;
    margin-top: 20px;
    padding: 5px 10px;
    position: relative;
}
.paragraph{
    border: none;
}
.del{
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;

}